.animation-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: scaleY(0);
  transform-origin: 0 100%;

  background-color: $c-dark;

  .screen--prizes.active ~ &,
  .screen--rules.active ~ &,
  .screen--game.active ~ & {
    transform: scaleY(1);
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }
}
