@keyframes form-field-in {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes intro-message-in {
  from {
    transform: translate(0, 2rem);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slider-item-text-in {
  from {
    transform: translate(2.5rem, 0);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes social-block-link {
  from {
    transform: translate(0, 1rem);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes rules-item-text-in {
  from {
    transform: translateX(3rem);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes rules-item-counter-in {
  from {
    transform: scale(0);
    color: $c-purple;
  }

  to {
    transform: none;
    color: #ffffff;
  }
}

@keyframes rules-lead-in {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes intro-label-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slider-control-in {
  0% {
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes primary-prize-in {
  0% {
    transform: translate(33rem);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes additional-prize-in {
  0% {
    transform: translate(4rem);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes prize-icon-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes prize-figure-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes prize-text-in {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes result-title-in {
  0% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes result-text-in {
  0% {
    transform: scale(1.06);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
